html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  --bg-primary: hsl(0, 0%, 98%);
  --bg-secundary: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  background-color: var(--bg-primary);
  color: var(--text);

}

body.dark-mode {
  --bg-secundary: hsl(209, 23%, 22%);
  --bg-primary: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 98%);
  
}

/* Espacios */

.img-fluid {
  width: 100%;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* NAVBAR */

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
background-color: var(--bg-secundary);
}

.navbar-content, .filter-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.btn-dark-mode {
  background-color: var(--bg-secundary);
  outline: none;
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: 0.3s;
}

.btn-dark-mode {
  transition: 0.6;
}

/* Filters */


/* CARD */
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--bg-secundary);
  border-radius: 0.35rem;
}

.card img {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.card-content {
  padding: 2rem;
}

.card-content h3 {
  margin-bottom: 0.5rem;
}

@media (max-width: 1000px){
  
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 750px){
  
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px){
  .navbar-content {
    font-size: 0.6rem;
  }

  .filter-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}