<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN de Font Awesome -->
    <script src="https://kit.fontawesome.com/7a47e06a8a.js" crossorigin="anonymous"></script>
    <!-- CDN de bootswatch V5.1 -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">


    <title>Productos</title>
</head>

<body>
    <nav class="navbar">
        <div class="container navbar-content">
            <a href="/" class="navbar-brand">Tienda BSALE</a>

            <button class="btn-dark-mode">
                <i class="far fa-moon"></i>
                Dark Mode</button>
        </div>
    </nav>
    <header class="container filter-content my-2">
        <form>
            <input type="text" name="" id="" placeholder="Buscar por articulo">
        </form>
        <select name="" id="">
            <option value="">Filtrar por categorias</option>
            <option value="">bebida energetica</option>
            <option value="">pisco</option>
            <option value="">ron</option>
            <option value="">bebida</option>
            <option value="">snack</option>
            <option value="">cerveza</option>
            <option value="">vodka</option>
        </select>
    </header>
    <main class="container grid">
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h4>Nombre: Cerveza</h4>
                <h4>Categoria: Pisco</h4>
            </div>

        </article>
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h3>Nombre: Cerveza</h3>
                <h3>Categoria: Pisco</h3>
            </div>

        </article>
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h3>Nombre: Cerveza</h3>
                <h3>Categoria: Pisco</h3>
            </div>

        </article>
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h3>Nombre: Cerveza</h3>
                <h3>Categoria: Pisco</h3>
            </div>

        </article>
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h3>Nombre: Cerveza</h3>
                <h3>Categoria: Pisco</h3>
            </div>

        </article>
        <article class="card">
            <img src="" alt="" class="img-fluid">
            <div class="card-content">
                <h3>Nombre: Cerveza</h3>
                <h3>Categoria: Pisco</h3>
            </div>

        </article>
    </main>